<!DOCTYPE html>
<html>
<head>
  <title>Snapshots</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,300' rel='stylesheet' type='text/css'>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript" ></script>
  <script type="text/javascript">
    window.cloudinary_options = {
    cloud_name: '<%= ENV['CLOUD_NAME'] %>',
    upload_preset: '<%= ENV['UPLOAD_PRESET'] %>',
    theme: 'minimal',
    sources: ['local'],
    text: {
      "powered_by_cloudinary": " ",
      "sources.local.title": "Local Files",
    },
    inline_container: '#my-widget-container'

  };
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
